doctype html
html
  head
    title Lobby Side
    link(rel="stylesheet", href="/style/lobby.css")
    script.
      async function updateLobby() {
          let playersTemp = await fetch("http://localhost:6969/api/getLoggedIn");
          let players = await playersTemp.json();
          let daList = document.querySelector("ul");
          daList.innerHTML = "";

          for (let player of players) {
            let tempLi = document.createElement("li");
            tempLi.innerHTML = player.name;
            daList.appendChild(tempLi);
          }
      }

      setInterval(updateLobby, 1000);

    link(rel="stylesheet", href="/style/timer.css")
    script(src="/js/timer.js" defer)
    script(src="/js/gameStart.js" defer)
  body
    .container
      .lobby-box
        if name
          h1 Velkommen til lobbyen, #{name}!
          ul
            each user in users
              li #{user.name}
          h1 Gamestart
          .timer#timer 02:00
          button#startButton Start
          form(action="/logout", method="POST")
            button(type="submit") Log ud
            
          