doctype html
html
  head
    title Yatzy login
    link(rel="stylesheet", href="/style/login.css")
  body
    .container
      .login-box
        .logo
          img(class="picture" src="logo/png/logo-no-background.png", alt="Logo")
        h1 Velkommen til Yatzy!
        form(action="/auth", method="POST")
          .input-container
            input(type="text", id="name", name="name", placeholder="Indtast dit brugernavn", required)
          button(type="submit") Start!
