doctype html
html
  head
    title Yatzy login
    link(rel="stylesheet", href="/style/login.css")
  body
    h1 Indtast dit brugernavn
    form(action="/auth", method="POST")
      label(for="name") Brugernavn:
      input(type="text", id="name", name="name", placeholder="name...")
      br
      button(type="submit") Log ind
