doctype html
html
  head
    title Yatzy login
    link(rel="stylesheet", href="/style/waitinglobby.css")
  body
    .container
      .login-box
        .logo
          img(class="picture" src="images/logo-no-background.png", alt="Logo")
        h1 Maks spillere / Spil igang:
        ul
            each user in users
              li #{user.name}, #{user.scoreVals.total}
      

    footer(style="color: #fff; text-align: center; padding: 20px;") © 2024 Yatzy3
