doctype html
html(lang="en")
  head
    title Waiting Lobby
    link(rel="stylesheet", href="/style/waitinglobby.css")
    //- script.
    //-   async function updateScores(){
    //-       let playersTemp = await fetch("http://localhost:6969/api/getLoggedIn");
    //-       let players = await playersTemp.json();

    //-       let daList = document.querySelector("ul");
    //-       daList.innerHTML = "";
    //-       for(let player of players){
    //-         let tempLi = document.createElement("li");
    //-         tempLi.innerHTML = player.name + ": " + player.scoreVals.total;
    //-         daList.appendChild(tempLi);
    //-       }
    //-   }
    //-   setInterval(updateScores, 1000);

  body
    .container
      .login-box
        .logo
          img.picture(src="images/logo-no-background.png", alt="Logo")
        h1 Waiting Lobby
        h2 Players in Game
        .table-container
          table
            tbody
              each user in playersInGame
                tr
                  td= user.name + ": " + user.scoreVals.total
        h2 Players in Queue
        ul#queueList
          if playersInQueue && playersInQueue.length > 0
            each player in playersInQueue
              li= player
          else
            li No players in queue
    script(src="/path/to/timer.js")