.timer {
  font-size: 3em;
  margin-top: 20px;
  background-color: #E3F2FD; 
  color: #232323; 
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #BBDEFB; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}
